.login-page{
    position: absolute;
    z-index: 24;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-page-container{
    position: fixed;
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-page-title img{
    background-color: tomato;
    border-radius: 50%;
    padding: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.login-page-title img:hover{
    background-color: rgba(255, 99, 71, 0.637);
}
.login-page-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-page-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-page-container  button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.login-page-container  button:hover{
    background-color: rgba(255, 99, 71, 0.637);
}
.login-page-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-page-condition input {
    margin-top: 5px;
}
.login-page p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
