.food-display{
    margin: 30px 0 0 0;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin: 30px 0 0 0;
    gap: 30px;
    row-gap: 50px;
}
